[submodule "SQLCipher/src"]
	path = SQLCipher/src
	url = https://github.com/groue/sqlcipher.git
[submodule "SQLiteCustom/src"]
	path = SQLiteCustom/src
	url = https://github.com/swiftlyfalling/SQLiteLib
